body{
    width:80%;
    margin:auto;
    border:red solid 2px;
    padding: 5%;
}
/*border solid dashed dotted
padding = 5% away from teh edge of the screen*/
p{
    font:1.6rem Arial;
    color:red;
    width:50%;
    margin-top:1cm;
}
h2{
    background-color: red;
    color:white;
    font:2rem "Courier New";
}
img{
    width:50%;
    margin:auto;
}
#heading{
    font:3rem "Arial Black";
    font-weight:800;
}
.fact{
    background-color: yellow;
}
/*fact references a class which can be used for different things, id references one thing*/